<div class="card border-light mb-3">
    <div class="card-header">
        <h2>Asignación de empresas a estudiantes</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <div class="card-header">
                    <H5>Estudiantes sin Empresa:</H5>
        
                </div>
                <table class="table table-striped" style="width: 100%">
        
                    <thead>
                        <tr>
                            <th>Apellidos y Nombres</th>
                            <th>Nivel</th>
                            <th>Empresa</th>
                            <th>Asignar</th>
                        </tr>
                    </thead>
        
                    <tr *ngFor="let estudiante of estudianteService.estudiantes.slice().reverse() | paginate: { itemsPerPage: 6, currentPage: p1, id: 'first' }">
                        <td *ngIf="estudiante.empresa == 'Sin empresa'">{{estudiante.apellidos}} {{estudiante.names}}</td>
                        <td *ngIf="estudiante.empresa == 'Sin empresa'">{{estudiante.semestre}}</td>
                        <td *ngIf="estudiante.empresa == 'Sin empresa'">{{estudiante.empresa}}</td>
                        <td *ngIf="estudiante.empresa == 'Sin empresa'"><button class="btn btn-success" type="submit"
                                (click)="editEstudiante(estudiante);openScrollableContent(longContent)">
                                <i class="small material-icons">
                                    add
                                </i>
                            </button></td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <div class="card-header">
                    <H5>Estudiantes asignados</H5>
                </div>
                <table class="table " style="width: 100%;" >
        
                    <thead>
                        <tr>
                         
                            <th>Apellidos y Nombres</th>
                            <th>Nivel</th>
                            <th>Empresa</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let estudiante of estudianteService.estudiantes.slice().reverse() | paginate: { itemsPerPage: 6, currentPage: p1, id: 'first' }; let i = index">
                        <ng-container *ngIf="estudiante.empresa != 'Sin empresa'">
                            <td>{{estudiante.apellidos}} {{estudiante.names}}</td>
                            <td>{{estudiante.semestre}}</td>
                            <td>{{estudiante.empresa}}</td>
                            <td><button class="btn btn-success" type="submit"
                                    (click)="editEstudiante(estudiante);openScrollableContent(longContent)">
                                    <i class="small material-icons">
                                        edit
                                    </i>
                                </button></td>

                        </ng-container>

                    </tr>

                </table>
                <ng-template #longContent let-modal>
                    <div class="modal-header">
                        <h4 class="form-control" type="text" class="modal-title">Sector del Estudiante: 
                            {{estudianteService.seleccionarEstudiante.ubicacion}}</h4>
                        <br>
        
                        <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click');getEstudiantes()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #estudianteForm="ngForm" (ngSubmit)="addEstudiante(estudianteForm)">
                            <p>Las empresas cercanas al estudiante son:</p>
                            <input type="hidden" name="_id" #_id="ngModel"
                                [(ngModel)]="estudianteService.seleccionarEstudiante._id">
                            <div class="form-group">
                                <input class="form-control" type="hidden" name="names" #name="ngModel"
                                    [(ngModel)]="estudianteService.seleccionarEstudiante.names"
                                    placeholder="ingresa sus nombres">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="hidden" name="apellidos" #apellidos="ngModel"
                                    [(ngModel)]="estudianteService.seleccionarEstudiante.apellidos"
                                    placeholder="ingresa sus apellidos">
                            </div>
        
                            <div class="form-group">
                                <input class="form-control" type="hidden" name="direccion" #direccion="ngModel"
                                    [(ngModel)]="estudianteService.seleccionarEstudiante.direccion"
                                    placeholder="ingresa su direccion">
                            </div>
        
                            <div class="form-group">
                                <div>
                                    <input type="hidden" name="ubicacion" #ubicacion="ngModel"
                                        [(ngModel)]="estudianteService.seleccionarEstudiante.ubicacion" value="Centro" required>
                                </div>
                                <div>
                                    <input type="hidden" name="ubicacion" #ubicacion="ngModel"
                                        [(ngModel)]="estudianteService.seleccionarEstudiante.ubicacion" value="Norte" required>
                                </div>
                                <div>
                                    <input type="hidden" name="ubicacion" #ubicacion="ngModel"
                                        [(ngModel)]="estudianteService.seleccionarEstudiante.ubicacion" value="Sur" required>
                                </div>
                            </div>
                            <div class="form-group">
        
                                <div class="row">
                                    <div class="col-sm-2">
                                        <input type="hidden" name="semestre" #semestre="ngModel"
                                            [(ngModel)]="estudianteService.seleccionarEstudiante.semestre" value="1" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="semestre" #semestre="ngModel"
                                            [(ngModel)]="estudianteService.seleccionarEstudiante.semestre" value="2" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="semestre" #semestre="ngModel"
                                            [(ngModel)]="estudianteService.seleccionarEstudiante.semestre" value="3" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="semestre" #semestre="ngModel"
                                            [(ngModel)]="estudianteService.seleccionarEstudiante.semestre" value="4" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="semestre" #semestre="ngModel"
                                            [(ngModel)]="estudianteService.seleccionarEstudiante.semestre" value="5" required>
                                    </div>
                                </div>
        
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="correo" #correo="ngModel"
                                    [(ngModel)]="estudianteService.seleccionarEstudiante.correo"
                                    placeholder="Correo Electrónico" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="celular" #celular="ngModel"
                                    [(ngModel)]="estudianteService.seleccionarEstudiante.celular" placeholder="Celular"
                                    required>
                            </div>
        
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="telefono" #telefono="ngModel"
                                    [(ngModel)]="estudianteService.seleccionarEstudiante.telefono"
                                    placeholder="Teléfono Convencional" required>
                            </div>
        
                            <select class="browser-default custom-select" name="empresa" #empresa="ngModel"
                                [(ngModel)]="estudianteService.seleccionarEstudiante.empresa">
                                <option value="Sin empresa">Sin empresa</option>
                                <ng-container *ngFor="let empresa of empresaService.empresas">
                                    <option *ngIf="empresa.ubicacion == estudianteService.seleccionarEstudiante.ubicacion"
                                        value={{empresa.name}}>
                                        {{empresa.name}}
                                    </option>
                                </ng-container>
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            (click)="modal.dismiss('Cross click');getEstudiantes()">Cancelar</button>
                        <button type="submit" class="btn btn-primary"
                            (click)="addEstudiante(estudianteForm);modal.close('Close click')">Guardar</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div align="center">
        <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
    </div>


    


</div>