
    <div class="card border-light mb-3">
        <div class="card-header">    <h1>Asignación de Empresas</h1>
        </div>
        <div class="card-body">
            <div class="card-header">    <H3>Estudiantes sin Empresa:</H3>

            </div>
 <table class="table table-striped">
  
            <thead>
            <tr>
                <th>Id</th>
                <th>Apellidos y Nombres</th>
                <th>Nivel</th>
                
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Andrade Alarcón Daniel Alexander</td>
                <td>2</td>
                <td><button class="btn btn-primary">+</button></td>

            </tr>
            <tr>
                <td>2</td>
                <td>Amaya Salvador Arturo Ramiro</td>
                <td>5</td>
                <td><button class="btn btn-primary">+</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Angulo Valladares Martha Concepción</td>
                <td>1</td>
                <td><button class="btn btn-primary">+</button></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Argumosa López Rosalia Socorro</td>
                <td>5</td>
                <td><button class="btn btn-primary">+</button></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Alarcón López Gerardo Genaro</td>
                <td>2</td>
                <td><button class="btn btn-primary">+</button></td>
            </tr>
            </table>
        </div>
        <div class="card-body">
            <div class="card-header">   <h3>Empresas</h3>
            </div>
            <table class="table table-striped">
          
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Pasantes Requeridos</th>
                    <th>Pasantes Asignados</th>
                </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>Empresa Eléctrica</td>
                    <td>10</td>
                    <td>5 <button class="btn btn-primary">Editar</button></td>
    
                </tr>
                <tr>
                    <td>2</td>
                    <td>ESPE</td>
                    <td>5</td>
                    <td>2 <button class="btn btn-primary">Editar</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>LinkedIn</td>
                    <td>6</td>
                    <td>2 <button class="btn btn-primary">Editar</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>GitCode</td>
                    <td>10</td>
                    <td>2 <button class="btn btn-primary">Editar</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>SystemsHD</td>
                    <td>2</td>
                    <td>2 <button class="btn btn-primary">Editar</button></td>
                </tr>
                </table>
        </div>
        <div class="card-body">
            <div class="card-header">    <H3>Estudiantes asignados</H3>
            </div>
            <table class="table table-striped">
  
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Apellidos y Nombres</th>
                    <th>Nivel</th>
                    
                </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>Andrade Alarcón Daniel Alexander</td>
                    <td>2</td>
                    <td><button class="btn btn-primary">-</button></td>
    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Amaya Salvador Arturo Ramiro</td>
                    <td>5</td>
                    <td><button class="btn btn-primary">-</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Angulo Valladares Martha Concepción</td>
                    <td>1</td>
                    <td><button class="btn btn-primary">-</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Argumosa López Rosalia Socorro</td>
                    <td>5</td>
                    <td><button class="btn btn-primary">-</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Alarcón López Gerardo Genaro</td>
                    <td>2</td>
                    <td><button class="btn btn-primary">-</button></td>
                </tr>
                </table>
        </div>

      </div>
